<a target="_blank" href="https://colab.research.google.com/github/da-python/new-modul-python/blob/main/Lesson3/fuels.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [2]:
import pandas as pd
import requests
from tqdm.auto import tqdm
from collections import defaultdict

In [3]:
url = "https://www.rosneft-azs.ru/"
r = requests.get(url)

In [6]:
# r.text

In [7]:
headers = {'X-Requested-With': 'XMLHttpRequest'}
payload = ({'region':'77'})
url = 'http://www.rosneft-azs.ru/map_search'
r = requests.post(url, data=payload, headers=headers)

In [8]:
res = r.json()

In [10]:
res.keys()

dict_keys(['stations', 'region_name', 'region_code'])

In [12]:
# res.get('region_code')

77

In [13]:
stations = res['stations']

In [15]:
# len(stations)

In [84]:
# stations[0]

In [19]:
pd.set_option('display.max_columns', 500)

In [21]:
df = pd.json_normalize(stations)

In [26]:
# df.head(3)

In [10]:
url = 'http://www.rosneft-azs.ru/map_search'

In [52]:
# Формируем словарь со списками для колонок таблицы
# tab_dict = {'Azs':[],'Address' :[],'Price92':[],'Price95':[]}
tab_dict = defaultdict(list)
# Заполняем списки с помощью цикла
for station in tqdm(stations):
    tab_dict['Azs'].append(station['id'])
    tab_dict['Region'].append(station['region_code'])
    tab_dict['Address'].append(station['address'])
    for d in station['price']:
        if d['type'] == 92:
            tab_dict['Price92'].append(d['price'])
        elif d['type'] == 95:
            tab_dict['Price95'].append(d['price'])
        elif d['type'] == 'diesel':
            tab_dict['PriceDiesel'].append(d['price'])
        elif d['type'] == '95_fora':
            tab_dict['Price95_fora'].append(d['price'])
        elif d['type'] == '92_fora':
            tab_dict['Price92_fora'].append(d['price'])
        elif d['type'] == '100':
            tab_dict['Price100'].append(d['price'])

  0%|          | 0/2332 [00:00<?, ?it/s]

In [53]:
# 'price': [{'available': 1, 'type': 92, 'price': 48.24},
#   {'available': 1, 'type': '92_fora', 'price': 49.84},
#   {'available': 0, 'type': 95, 'price': 0},
#   {'available': 1, 'type': '95_fora', 'price': 54.94},
#   {'available': 0, 'type': '95_jet', 'price': 0},
#   {'available': 0, 'type': 98, 'price': 0},
#   {'available': 0, 'type': '98_fora', 'price': 0},
#   {'available': 0, 'type': 100, 'price': 0},
#   {'available': 0, 'type': '100_pulsar', 'price': 0},
#   {'available': 1, 'type': 'diesel', 'price': 55.2},
#   {'available': 0, 'type': 'diesel_fora', 'price': 0},
#   {'available': 0, 'type': 'gas', 'price': 0},
#   {'available': 0, 'type': 'methane', 'price': 0}],

In [54]:
rn = pd.DataFrame.from_dict(tab_dict)
rn.head()

,Azs,Region,Address,Price92,Price92_fora,Price95,Price95_fora,PriceDiesel
0,58520,61,"Ростовская обл., Мясниковский р-н, п. Чалтырь,...",48.24,49.84,0.00,54.94,55.20
1,58316,62,"Владимирская обл., Судогодский р-н, д. Лаврово...",46.80,0.00,50.40,52.10,56.90
2,58519,61,"Ростовская обл., г. Ростов-на-Дону, ул. 40 Лет...",48.24,0.00,52.94,54.94,55.20
3,58509,40,"Калужская обл., г. Калуга, ул. Зерновая, 34",45.30,0.00,48.40,50.40,53.85
4,58511,40,"Калужская обл., Боровский р-н, г. Балабаново, ...",45.30,0.00,48.55,50.55,56.85

In [55]:
#

In [12]:
# Добавить в таблицу другие виды топлива
#----- Ваш код здесь ----

In [61]:
# Отделить регионы от адреса АЗС
#----- Ваш код здесь ----
rn['RegionName']= rn.Address.apply(lambda x:x.split(',')[0])

In [85]:
s = 'Калужская обл., Боровский р-н, г. Балабаново'

'Калужская обл., Боровский р-н, г. Балабаново'

In [92]:
print(s)

Калужская обл., Боровский р-н, г. Балабаново

In [ ]:
rn.Address.apply(lambda x:x.split(',')[0])

In [89]:
rn.shape

(2332, 9)

In [101]:
rn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Azs           2332 non-null   int64
 1   Region        2332 non-null   int64
 2   Address       2332 non-null   object
 3   Price92       2332 non-null   object
 4   Price92_fora  2332 non-null   float64
 5   Price95       2332 non-null   float64
 6   Price95_fora  2332 non-null   float64
 7   PriceDiesel   2332 non-null   float64
 8   RegionName    2332 non-null   object
dtypes: float64(4), int64(2), object(3)
memory usage: 164.1+ KB

In [125]:
new_col = []
for i in range(rn.shape[0]):
    new_col.append(rn.iloc[i,2].split(',')[0])

AttributeError: 'NoneType' object has no attribute 'split'

In [126]:
print(len(new_col), len(rn))

0 2332

In [116]:
rn['RegionName_forloop'] = new_col

In [100]:
rn['Price92'] = rn['Price92'].astype(str)

In [122]:
rn.iloc[0,2] = None

In [120]:
rn[rn.PriceDiesel > 50]['Price95_fora'] = 0

/var/folders/rj/w306gcfn0_jcn0_ssjysxhw40000gn/T/ipykernel_3620/2454914862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rn[rn.PriceDiesel > 50]['Price95_fora'] = 0

In [121]:
rn.loc[rn.PriceDiesel > 50, 'Price95_fora'] = 0

In [ ]:
rn.loc

In [95]:
# list(range(rn.shape[0]))

In [97]:
len(rn)

2332

In [88]:
s.split('.,')

'Калужская обл'

In [58]:
# Выбрать АЗС из Белоруссии и сохранить в rnbelarus
#----- Ваш код здесь ---
# rnbelarus = rn.loc[rn.Region.isin([1001])]
# rnbelarus

In [50]:
# Убрать АЗС из Белоруссии из таблциы rn
# rn = rn[~rn.Region.isin([1001])]

In [51]:
rn.Region.unique()

array([61, 62, 40, 77, 64, 10, 78, 23,  1, 63, 86,  0, 46, 31, 44, 50, 71,
       76, 47, 60, 69, 57, 68, 54, 24, 42,  6, 15, 26, 73, 29, 74, 45, 66,
       32, 67, 58, 75, 89, 48, 70, 51, 38,  3, 20, 36, 22, 19,  4,  9,  7,
       53, 33, 52])

In [64]:
# Расчитать средние цены на топливо по регионам
#----- Ваш код здесь ----
rn.groupby(['Region','RegionName'])[[x for x in rn.columns if x.startswith('Price')]].mean().reset_index()

,Region,RegionName,Price92,Price92_fora,Price95,Price95_fora,PriceDiesel
0,0,Московская область,46.50000,0.0,51.900000,53.60,0.000000
1,0,Ульяновская обл.,45.99000,0.0,49.850000,0.00,56.690000
2,0,Ханты-Мансийский (Югра) авт.о.,48.20000,0.0,50.000000,0.00,63.150000
3,1,Респ. Адыгея (Адыгея),48.20000,49.8,53.070000,22.06,55.250000
4,3,Респ. Бурятия,48.39898,0.0,43.514286,0.00,63.614286
...,...,...,...,...,...,...,...
103,1001,Брестская обл.,2.34000,0.0,2.440000,0.00,2.440000
104,1001,Витебская обл.,2.34000,0.0,2.440000,0.00,2.440000
105,1001,Минская обл.,2.34000,0.0,2.440000,0.00,2.440000
106,1001,Могилевская обл.,2.34000,0.0,2.440000,0.00,2.440000
107,1001,г. Минск,2.34000,0.0,2.440000,0.00,2.440000

In [ ]:
# Создать директорию regional_prices
#----- Ваш код здесь ----

In [ ]:
!mkdir

In [66]:
import os 
os.mkdir('regional_prices')

In [69]:
# Записать в отдельный .csv файл цены для каждого региона.
# Разделить должен быть знак табуляции sep='\t'
# Название файла записать как название региона, заменив пробел на _
#----- Ваш код здесь ----
for r in rn.Region.unique():
    fname = f"{r}.csv"
    fpath = os.path.join('regional_prices', fname)
    rn[rn.Region == r].to_csv(fpath, sep='\t')

In [71]:
# Выведите содержимое директории в переменную list_of_files
#----- Ваш код здесь ----
list_of_files = os.listdir('regional_prices')

In [73]:
# list_of_files

In [75]:
# Создайте словарь regional_prices и заполните его таким образом, чтобы
# ключ был название файла без .csv, а значения - список строк, счиатанных из файла
#----- Ваш код здесь ----
regional_prices = {}
for el in list_of_files:
    fpath = os.path.join('regional_prices', el)
    with open(fpath, 'r') as f: 
        regional_prices[el.split('.')[0]] = f.readlines()

In [83]:
# regional_prices

In [81]:
# Соберите таблицу rnnew из словаря regional_prices
#----- Ваш код здесь ----